<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/client/styles/style.scss">
  <script src="../../../dist/main.js"></script>
 

</head>

<body>
  <header>
    <h1 class="title">Travel Planner App</h1>
    <p class="instructions">Add the city, the departure date and the return date. You will see back Weather information,
      images about the destination and the most important details about your trip. </p>
  </header>
  <div id="app">
    <section class="travel-planner">
      <div>
        <h2>Let's create your travel plan</h2>
      </div>
      <form action="" id="create-plan" class="plan-form">
        <div class="place-plan">
          <label for="location">Add the place you like to go:</label>
          <input type="text" name="location" id="loc-input" placeholder="e.g. Madrid" required>
        </div>

        <div class="plan-dates">
          <label for="departure">Departure Date:</label>
          <input id="start-date" name="departure" type="date" required>

          <label for="return">Return Date:</label>
          <input id="return-date" name="return" type="date" required>
        </div>

        <div class="submission-plan">
          <input type="submit" value="Start Your Plan" id="submit-btn" onclick="" onsubmit="">
        </div>
      </form>
    </section>

    <section class="results">
      <div class="img-info">
        <img src="" alt="" class="main-img">
      </div>
      <div class="travel-info">
        <h3 class="place-info">My trip to: <span id="city"></span>, <span id="country"></span></h3>
        <p id="dep-date">Departure Date: <span id="departure"></span></p>
        
        <div class="print-delete-btns">
          <button id="print-btn" href="#">Print</a>
          <button id="delete-btn" href="#">Delete</a>
        </div>
        <div class="days-away">Your Travel to <span id="city"></span>, <span id="country"> is <span id="days"> away</span></div>
        <div class="weather-info">
          <h4 class="wheather-title">Typical Weather for then is:</h4>
          <p class="temps">High: <span id="high-temp"></span>, Low: <span id="low-temp"></p>
          <p class="weather-details">Mostly <span id="weather-condition"></span>throughout the day.</p>
        </div>
      </div>

    </section>
  </div>

</body>

</html>