<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/client/styles/style.css">
    <title>Travel Planner</title>
</head>
<body>
    
    <header>
        <h1>Travel Planer</h1>
    </header>
    <div class="container">
        <div class="main-wrapper">
            <div class="dest-img">
                <img src="https://pixy.org/src/0/thumbs350/551.jpg" alt="" sizes="" srcset="">
            </div>
            <div class="main-info-trip">
                <div class="trip-location">
                    <h2 class="place-info">My trip to: Las Vegas, USA</h2>
                </div>
                <div class="date-travel">
                    <h2 class="date-plan">Departing: 02/12/2022</h2>
                </div>
                <div class="btns-sv-rm">
                    <div class="sv-btn">
                        <button id="save">Save Trip</button>
                    </div>
                    <div class="rm-btm">
                        <button id="remove">Remove Trip</button>
                    </div>
                </div>
                <div class="days-to-left"></div>
                <div class="weather-info">
                    <h3 class="">Typical weather for this period:</h3>
                    <div class="weather-details"></div>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>