*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgba(236,215,250,1);
    
    color: #333;
    margin: auto 0;
    text-align: center;
}
.dest-img img{
    width: 100%;
    object-fit: cover;
}
h2,h3{
    text-align: left;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0;

}
.main-info-trip{
    padding: 15px;
    background: linear-gradient(180deg, rgba(236,215,250,1) 0%, rgba(174,240,234,1) 100%);
}

.btns-sv-rm{
    display: flex;
    justify-content: center;
}

.sv-btn, .rm-btm{
    margin: 15px;
}

#save, #remove{
border-radius: 5px;
border: none;
box-shadow: 1px -1px 34px -4px rgba(0,0,0,0.45);
padding: 10px;
font-size: 15px;

}

#save{
    background-color: #aef0ea;
}

#save:hover{
    background-color: #aef0ea7a;
    box-shadow: 1px -1px 34px -4px rgba(0,0,0,0.85);
    font-weight: bold;  
    transition: .3s;
}

#remove{
    background-color: #ecd7fa;
}

#remove:hover{
    background-color: #ecd7fa8c;
    box-shadow: 1px -1px 34px -4px rgba(0,0,0,0.85);
    font-weight: bold;  
    transition: .3s;
}

@media only screen and (min-width: 680px) {
    .container{
        background: linear-gradient(180deg, rgba(236,215,250,1) 0%, rgba(174,240,234,1) 100%);
        width: fit-content;
    }
    .main-wrapper{
        display: flex;
        padding: 15px;
    }
    .dest-img{
        max-width: 300px;
        height: auto;
       
    }
    

} 