body{
    font-family: sans-serif;
    max-width: 350px;
    text-align: center;
}

.title{
    font-weight: 500;
    text-align: center;
}
h2{
    font-size: 1.5em;
    font-weight: 500;
}
.instructions{
   
}
.travel-planner{
    max-width: 100%;
    padding: 15px;
    background: #467bdd;
    color: white;
    border-radius: 0.7rem;

}
#create-plan{
    line-height: 38px;
    
}
label   {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin: 10px;
} 
input    {
    margin: 10px auto;
    display: block;
    width: 85%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #333;
    background-color: #fffefe;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
#submit-btn{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:11px;
	border:1px solid #467bdd;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
    text-decoration:none;
    margin: 25px auto;
}
#submit-btn:hover{
    
    background: #467bdd;
    color: #f9f9f9;
}
.results{
    background-color: #f5f5dc;
    padding: 25px;
    border-radius: 15px;
}
#print-btn{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background: #467bdd;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    margin: 15px;
}
#delete-btn{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: #E7404B;
    font-size: 1.2em;
    color: white;
    border: 1px solid #d12c37;
    border-radius: 4px;
    margin: 15px;
}
#save-btn{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: green;
    font-size: 1.2em;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    margin: 15px;
}
.main-img{
    max-width: 250px;
    text-align: center;
}
// body{
//     background: #fffff8;
//     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
// }

// #app{
//     display: grid;
//     grid-auto-rows: minmax(150px, auto);
//     /* grid-template-columns:  */
//     height:100vh;
//     background: #f23557;
//     color: #f0d43a;
//     justify-content: center;
//     grid-gap: 1em;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
// }

// .holder{

// }

// .entry{
//     background: rgba(59, 74, 107, .4);
// }

// #entryHolder{

// }

// #date{

// }

// #temp{

// }

// #content{

// }

// .headline {

// }
// .title{

// }

// /*  Basic Styling To Override Default For Basic HTML Elements */
// label{
//     display:block;
//     font-size: 27px;
// }

// input{
//     display:block;
//     height: 60px;
//     width: 320px;
//     background:#22b2da;
//     color: #f0d43a;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
//     border: none;
// }

// button{
//     width: 400px;
//     height: 100px;
//     background: #3b4a6b;
//     color: #f0d43a;
//     font-size: 26px;
//     font-family: 'Oswald', sans-serif;
//     border: none;
//     box-shadow: 2px 4px 5px #444;
// }
// h1{
//     font-size: 36px;
// }

// textarea{
//     background:#22b2da;
//     color: #f0d43a;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
// }
// /* Reset style for HTML element on active to have no border*/
// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none;
// }
// /* Style for Placeholder Text*/
// ::placeholder { /* Firefox, Chrome, Opera */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 
  
// :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 
  
// ::-ms-input-placeholder { /* Microsoft Edge */ 
//     color: #f0d43a; 
//     font-family: 'Oswald', sans-serif;

// } 